In [4]:
!pip install gower

Collecting gower
  Downloading gower-0.1.2-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: numpy in c:\tools\conda\lib\site-packages (from gower) (1.24.3)
Requirement already satisfied: scipy in c:\tools\conda\lib\site-packages (from gower) (1.11.1)
Downloading gower-0.1.2-py3-none-any.whl (5.2 kB)
Installing collected packages: gower
Successfully installed gower-0.1.2

In [16]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import MaxAbsScaler, LabelEncoder
import gower

In [10]:
data = pd.read_csv('rocket-league-skillshots-data (2).csv')
df = pd.DataFrame(data = data)
df.head(5)

,BallAcceleration,Time,DistanceWall,DistanceCeil,DistanceBall,PlayerSpeed,BallSpeed,up,accelerate,slow,goal,left,boost,camera,down,right,slide,jump
0,1636.798772,0.000000,3498.01,2012.98,299.668270,104267.426232,99035.849337,0,0,0,0,0,0,0,0,1,0,1
1,3198.029397,0.138893,3494.08,2012.98,229.896780,124248.031988,102233.878734,0,0,0,0,0,1,0,0,1,0,1
2,0.000000,0.173617,3494.08,2012.98,237.350599,124248.031988,102968.358990,0,0,0,0,0,1,0,0,0,0,0
3,9914.766242,0.312510,3500.08,2012.98,151.880921,115248.016009,112883.125231,0,0,0,0,0,0,0,0,1,0,0
4,5907.747166,0.625019,3521.65,2013.00,154.556104,125091.256173,118790.872398,0,0,0,0,0,0,0,0,1,0,1

In [20]:
df_copy = df.copy()
scaler = MaxAbsScaler()
float_columns = df_copy.select_dtypes(include=['float']).columns
df[float_columns] = scaler.fit_transform(df_copy[float_columns])

df.head(5)

,BallAcceleration,Time,DistanceWall,DistanceCeil,DistanceBall,PlayerSpeed,BallSpeed,goal,move
0,0.005129,0.000000,0.012304,0.498266,0.031512,0.453337,0.300277,0,3
1,0.010021,0.010311,0.012290,0.498266,0.024175,0.540209,0.309974,0,22
2,0.000000,0.012889,0.012290,0.498266,0.024959,0.540209,0.312201,0,18
3,0.031069,0.023200,0.012311,0.498266,0.015971,0.501078,0.342262,0,2
4,0.018512,0.046400,0.012387,0.498271,0.016252,0.543875,0.360175,0,3

,BallAcceleration,Time,DistanceWall,DistanceCeil,DistanceBall,PlayerSpeed,BallSpeed,goal,move
0,0.005129,0.000000,0.012304,0.498266,0.031512,0.453337,0.300277,0,3
1,0.010021,0.010311,0.012290,0.498266,0.024175,0.540209,0.309974,0,22
2,0.000000,0.012889,0.012290,0.498266,0.024959,0.540209,0.312201,0,18
3,0.031069,0.023200,0.012311,0.498266,0.015971,0.501078,0.342262,0,2
4,0.018512,0.046400,0.012387,0.498271,0.016252,0.543875,0.360175,0,3